
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #d7a4a4;
    color: rgb(0, 0, 0);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .navbar-name {
    margin-right: 1rem;
  }
  
  .navbar-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center ;
    display: flex;
  }
  
  .navbar-right li {
    margin-right: 1rem;
    display: inline-block;
  }

  .toggle-icon img{
    width: 45px;
  }

  
  @media (max-width: 768px) {
    .navbar-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-right {
      margin-top: 1rem;
    }
  }
  